 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 529px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 409px;
  background-image: url("images/linkedinImage.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 305px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 7px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 145px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 29px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  margin: 0 auto 0 14px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 145px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 953px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 801px 0 0;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 367px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 29px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 0 auto 0 18px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 367px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 1px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 170px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 10px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  margin: 0 auto 0 18px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 170px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 29px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 245px;
}

.u-section-3 .u-container-layout-5 {
  padding: 19px 30px 29px 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  margin: 0 auto 0 18px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 245px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 19px 30px 30px;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 601px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 140px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 140px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 202px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 381px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 5px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 240px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1544px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0 0;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 144px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 15px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto 0 14px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 144px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 151px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 13px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 0 auto 0 14px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 151px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-layout-wrap-3 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 145px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 29px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto 0 14px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 158px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-layout-wrap-4 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 301px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 30px 29px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto 0 14px;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 301px;
  background-image: none;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 30px 19px;
}

.u-section-4 .u-text-9 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-4 .u-layout-wrap-5 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-9 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 30px 29px 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto 0 14px;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 145px;
  background-image: none;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-4 .u-layout-wrap-6 {
  margin-top: 22px;
  margin-bottom: 29px;
}

.u-section-4 .u-layout-cell-11 {
  min-height: 145px;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 30px 29px 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 0 auto 0 14px;
}

.u-section-4 .u-layout-cell-12 {
  min-height: 145px;
  background-image: none;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px;
}

.u-section-4 .u-text-13 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 125px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 125px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 120px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 130px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 248px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 248px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 120px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 120px;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1687px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 5px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 240px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 240px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 240px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 240px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-left: 5px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1048px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px 273px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 829px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-5 .u-accordion-item-1 {
  margin-left: auto;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
  color: rgb(153, 153, 153);
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 249px;
  background-image: none;
  height: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 103px;
  line-height: 1.6;
  margin-top: 20px;
}

.u-section-5 .u-accordion-item-2 {
  margin-left: auto;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
  color: rgb(153, 153, 153);
}

.u-section-5 .u-accordion-pane-2 {
  background-image: none;
  min-height: 249px;
  height: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  line-height: 1.6;
  margin: 0 351px 0 0;
}

.u-section-5 .u-accordion-item-3 {
  margin-left: auto;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
  color: rgb(153, 153, 153);
}

.u-section-5 .u-accordion-pane-3 {
  background-image: none;
  min-height: 249px;
  height: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0 318px 0 6px;
}

.u-section-5 .u-accordion-item-4 {
  margin-left: auto;
}

.u-section-5 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
  color: rgb(153, 153, 153);
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 249px;
  background-image: none;
  height: auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0 7px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 836px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 50px;
}

.u-section-5 .u-image-1 {
  width: 206px;
  height: 276px;
  margin: 30px 257px 0 7px;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-5 .u-text-1 {
    width: 867px;
    margin-right: 73px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-5 .u-accordion-1 {
    margin-left: initial;
  }

  .u-section-5 .u-accordion-pane-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-bottom: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 251px;
    line-height: 25.6px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-5 .u-accordion-link-4 {
    margin-bottom: 0;
  }

  .u-section-5 .u-accordion-pane-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 164px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 141px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 114px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }
}